<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.8.5.0" newVersion="1.8.5.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <appSettings>
        <!-- Sun, 07 Apr 2019 15:23:05 GMT
        // nSqliteConnectionStringBuilder で Load できる設定 -->
        <add key="SqliteConnectionString" value="" />
        <add key="SqliteDataSource" value="" />
        <add key="SqliteReadOnly" value="" />
        <add key="SqliteSyncMode" value="" />
        <!-- Sun, 07 Apr 2019 15:23:20 GMT
        // nSmtpSettings で Load できる設定 -->
        <add key="SmtpRequiresServerCertificateValidation" value="" />
        <add key="SmtpRequiresSsl" value="" />
        <add key="SmtpHost" value="" />
        <add key="SmtpPort" value="" />
        <add key="SmtpRequiresAuthentication" value="" />
        <add key="SmtpUserName" value="" />
        <add key="SmtpPassword" value="" />
        <!-- Fri, 03 May 2019 09:19:37 GMT
        // nNotificationMailMessageCreator で Load できる設定
        // WPF などを考慮し、いずれもなくても問題にならないようになっている
        // また、NotificationMailTo が空なら通知メールの機能そのものがオフとなる
        // *To には複数登録も可能だが、お互いのメアドが見える一括送信になるため注意
        // そのあたりの詳細は、nNotificationMailMessageCreator に書いておく -->
        <add key="NotificationMailFrom" value="" />
        <add key="NotificationMailTo" value="" />
        <add key="NotificationMailSubjectFormat" value="" />
        <!-- Tue, 07 May 2019 22:05:01 GMT
        // ★ テスト用の仮設定なので本番時には忘れずに更新 -->
        <add key="RootUserName" value="Hoge" />
        <add key="RootPassword" value="hoge" />
    </appSettings>
</configuration>
