<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Sun, 07 Apr 2019 15:23:05 GMT
        // nSqliteConnectionStringBuilder で Load できる設定 -->
        <add key="SqliteConnectionString" value="" />
        <add key="SqliteDataSource" value="" />
        <add key="SqliteReadOnly" value="" />
        <add key="SqliteSyncMode" value="" />
        <!-- Sun, 07 Apr 2019 15:23:20 GMT
        // nSmtpSettings で Load できる設定 -->
        <add key="SmtpRequiresServerCertificateValidation" value="" />
        <add key="SmtpRequiresSsl" value="" />
        <add key="SmtpHost" value="" />
        <add key="SmtpPort" value="" />
        <add key="SmtpRequiresAuthentication" value="" />
        <add key="SmtpUserName" value="" />
        <add key="SmtpPassword" value="" />
        <!-- Fri, 03 May 2019 09:19:37 GMT
        // nNotificationMailMessageCreator で Load できる設定
        // WPF などを考慮し、いずれもなくても問題にならないようになっている
        // また、NotificationMailTo が空なら通知メールの機能そのものがオフとなる
        // *To には複数登録も可能だが、お互いのメアドが見える一括送信になるため注意
        // そのあたりの詳細は、nNotificationMailMessageCreator に書いておく -->
        <add key="NotificationMailFrom" value="" />
        <add key="NotificationMailTo" value="" />
        <add key="NotificationMailSubjectFormat" value="" />
        <!-- Tue, 07 May 2019 22:05:01 GMT
        // ★ テスト用の仮設定なので本番時には忘れずに更新 -->
        <add key="RootUserName" value="Hoge" />
        <add key="RootPassword" value="hoge" />
    </appSettings>
</configuration>
